label.guZdik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 20rem;
  width: 28vw;
  border: 2px dashed rgb(255 255 255/ 50%);
  margin-top: 1.5rem;
}

.file-types {
  display: none;
}

svg path{
    fill: #ff007a;
}
svg[data-icon=microchip] path{
    fill: #000;
}
svg[data-icon=xmark] path{
    fill: rgb(255 255 255/ 50%);
}

div.sc-eqUAAy, span.sc-fqkvVR {
    height: 1rem;
    flex-grow: unset;
}

span.kFhUBM span {
  text-decoration: none;
}

button[data-function="post-video"]:active {
  box-shadow: 0 0 10px #ff007a;
}