main::before,
main::after {
  content: "";
}

/*  */

form {
  width: 35vw;
  background-color: rgba(0, 0, 0, 0.127);
  border: 1px solid #ff007a;
  border-top: 4px solid #ff007a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form::before,
form::after {
  content: "";
}

input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #575757;
  color: #fff;
  transition: border-bottom linear 0.5s;
}

input:focus {
  padding: 0 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  color: #ff007a;
  border-bottom: 1px solid #fff;
}

button[type=submit] {
  color: #ff007a;
  border: 2px solid #ff007a;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

button[type=submit]:hover {
    border-radius: 5px;
  background-color: #ff007a;
  color: #17202a;
  box-shadow: none;
}

button[type=submit]:active {
  box-shadow: 0 0 10px #ff007a;
}

button {
  color: #ccc;
  border: 2px solid #ccc;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  padding: 0 2rem;
}

button:hover {
    border-radius: 5px;
  background-color: #ccc;
  color: #000;
  box-shadow: none;
}


/* .button-holder::before, .button-holder::after {
    content: '';
} */

@media (width<1150px) {
  form {
    width: 65vw;
  }
}

@media (width<530px) {
  form {
    width: 70vw;
  }
}

@media (width<430px) {
  form {
    width: 80vw;
  }
}

@media (width<350px) {
  form {
    width: 90vw;
  }
}