button.MuiFab-root {
    background-color: #ff007a;
}
button.MuiFab-root:hover {
    background-color: #ff007a;
}

svg[data-icon=microphone] path {
    fill: #fff;
}
svg[data-icon=microphone] {
    font-size: 1.2rem;
}