.tras-final {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Add padding around the whole content */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.tras-final center {
  text-align: center;
}

.tras-logo {
  width: 300px;
  margin-bottom: 20px; /* Spacing between the logo and heading */
}

.tras-summary-heading {
  font-size: 50px;
  margin-bottom: 10px; /* Spacing between heading and summary */
}

.tras-summary {
  font-size: 18px; /* Adjust as needed */
  line-height: 1.5; /* Increase line height for readability */
  margin-bottom: 20px; /* Spacing between summary and time */
}

.tras-time {
  font-size: 16px; /* Adjust as needed */
}
