@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #17202a;
  color: #fff;
  font-family: "JetBrains Mono", monospace;
}

div.MuiPickersLayout-root {
  background-color: #17202a;
  color: #fff;
}

li.Mui-selected,
li.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected,
li.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected:focus-visible,
li.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected:hover {
  background-color: #ff007a;
}

button.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #ff007a;
}